
body {
    background-color: #A7D8F6;
    font-family: 'simp', sans-serif;
    text-align: center;
    color: #FFD90F;
    text-shadow: 3px 3px #000000;

}

@font-face {
    font-family: simp;
    src: url(../fonts/Simpsonfont.ttf );
}


h1 {
    font-family: 'simp', sans-serif;
    text-align: center;
    color: #FFD90F;
    text-shadow: 3px 3px #000000;
    font-size: 70px;
    padding-top: 30px;
}

#middleBarLeft {
    margin-right: 0px;
}

#middlebarcenter {
    margin-top: 50px;
}

#middleBarRight {
    margin-top: -20px;
}

table {
    /*text-align: center;*/
    background-color: #ff81c1;
}

td {
    text-align: center;
    height: 100px;
    width: 100px;
    color: #FFD90F;
    font-size: 25px;
    font-family: 'simp', sans-serif;
    text-shadow: 3px 3px #000000;
    border-width: 5px;
    border-color: ;
    border-radius: 20px 0 0 0;
    border: solid black 2px;
    margin-top: 40px;
}

@media (max-width: 760px) {
    h1 {
        font-size: 35px;
    }
    #middleBarRight {
        margin: 10px;
        display: none;
    }
    #middleBarLeft {
        display: none;
    }
    #middlebarcenter {
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }
}


