body {
    background-color: #A7D8F6  ;
    font-family: 'simp', sans-serif;
    text-align: center;
    color: #FFD90F;
    text-shadow: 3px 3px #000000;
    font-size: 70px;
    margin-top: 50px;
}

@font-face {
    font-family: simp;
    src: url(../fonts/Simpsonfont.ttf );
}


h1 {
  font-family: 'simp', sans-serif;
  text-align : center;
  color :  #FFD90F;
  text-shadow: 3px 3px #000000;
  font-size: 70px;
  margin-top : 20px;
  /*position: absolute;*/
  /*padding-top: 50px;*/
}

#topbar {
    background-color: #A7D8F6;
    min-height: 75px;

}

#middlebarcenter {
    margin-top: 0px;
    /*max-width: 400px;*/
    /*text-align: center;*/
    /*position: absolute;*/
}

#bottombar {
    background-color: ;
}

table {
    text-align: center;
    background-color: #ff81c1;
}

td {
    height: 100px;
    width: 100px;
    color: #FFD90F;
    font-size: 50px;
    font-family: 'simp', sans-serif;
    text-shadow: 3px 3px #000000;
    border-width: 5px;
    border-color: ;
    border-radius: 20px 0 0 0;
    border: solid black 2px;

}

.marge {
    /*margin-bottom: 70px;*/

}

.homer {
    margin-top: 30px;

}

@media (max-width: 480px) {
/*.container {
  max-width: 650px;
}*/
h1 {
  font-size: 35px;
  margin-top: -20px;
  /*padding-top: 80px;
  position: absolute;
  bottom: 435px;
  text-align: center;
  width: 92%;
*/
}
/*td {
  max-width: 400px;*/

}


}
